/* General Styles */
.App{
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f4f4f9;
}
main {
  max-width: 800px;
  margin: 0 auto;
}

h2, h3 {
  color: #333;
}

form {
  max-width: 500px;
  margin: 0 auto;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  padding: 10px 20px;
  background-color: #0073e6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #005bb5;
}


html {
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: space-between; /* Space between logo and nav */
  align-items: center; /* Vertically center */
  padding: 20px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 70px;
  width: 100px;
}



nav {
  position: relative;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px; /* Add space between links */
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  color: #333;
  transition: color 0.3s ease, transform 0.3s ease;
  position: relative;
}

nav ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: green;
  left: 0;
  bottom: -5px;
  transition: width 0.3s ease;
}

nav ul li a:hover {
  color: green;
  transform: translateY(-5px);
}

nav ul li a:hover::after {
  width: 100%;
}

/* Hamburger Menu for Mobile */
.hamburger {
  display: none; /* Hidden by default */
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: #333;
}

/* Media Queries for Smaller Screens */
@media (max-width: 768px) {
  nav ul {
    display: none; /* Initially hide nav links */
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: 200px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }

  nav ul.show {
    display: flex; /* Show nav links when active */
  }

  .hamburger {
    display: flex; /* Show hamburger menu */
  }
 
}